@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto|Roboto+Slab|Open+Sans:400,700');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Sans Narrow', sans-serif;
*/

*{
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
button:focus, input:focus, textarea:focus{
	outline: none;
}


header{
	background-image: url("../img/7.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
	background-size: cover;
	height: 90vh;
	width: 100%;
	color: #fff;
}

nav{
	width: 80%;
	padding: 60px 0;
	display: flex;
	justify-content: space-between;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
nav .links{
	text-align: right;
}
nav .links a{
	padding: 0 15px;
}
nav .links a:link {
    color: #fff;
}
nav .links a:visited {
    color: #e64c44;
}
nav .links a:hover {
    color: #e64c44;
}
nav .links a:active {
    color: #fff;
    text-decoration: underline;
}

.description{
	text-align: center;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.description h1{
	width: 35%;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	letter-spacing: 0.09em;
	padding-bottom: 24px;
	border-bottom: 1px solid #fff;
}
.description h3{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top: 10px;
}

.button-header{
	position: absolute;
	bottom: 3vh;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	width: 200px;
	padding: 14px 0;
	background-color: #e84c3d;
	border: 5px solid black;
}

#main{
	width: 80%;
}

#about-me, #work{
	padding: 75px 0;
	border-bottom: 1px solid #e6e8e7;
	min-height: 100vh;
}

#about-me{
	margin-top: 150px;
}
.bio, .skills{
	width: 80%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #96a6a5;
}

.about-title{
	color: #e54e3b;
	font-weight: 700;
}
.title-principal{
	font-size: 25px;
	padding-bottom: 53px;
}
.about-text{
	font-size: 14px;
	line-height: 26px;
}

.skills{
	width: 100%;
	display: flex;
 	justify-content: space-between;
 	margin-top: 80px;
}
.skill-box{
	width: 25%;
}
.skill-box .about-title{
	padding: 30px 0;
}
.skill-box img{
	width: auto;
	max-height: 65px;
}
#work{
	text-align: center;
}
.gallery{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.photo-box {
	position: relative;
	width: 40%;
	margin-bottom: 55px;
}
.work-image {
	display: block;
	height: 100%;
	opacity: 0.7;
}

.photo-overlay {
	position: absolute; 
	bottom:0;
	transition: .5s ease;
	opacity:0;
	color: #fff;
}
.photo-box:hover .photo-overlay, .photo-box:hover .work-image{
  opacity: 1;
}

.photo-overlay .photo-title{
	position: absolute; 
	bottom: 0; 
	left:0;
	background: #e84c3d;
	width: 100%;
	font-size: 20px;
	padding: 20px;
	border-top: 5px solid pink;
}

.view-more{
	padding: 20px 27px;
	background: #e84c3d;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
}
button.view-more{
	width: 20%;
	color: #fff;
	font-size: 14px;
	border:none;
	margin-top: 20px;
}

#contact{
	text-align: center;
	padding: 75px 0;
	border-bottom: 1px solid #e6e8e7;
}

#contact h1{
	font-family: 'Roboto Slab', serif;
	color: #eb4843;
}

#contact form{
	width: 60%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 75px;
}

#contact input, #contact textarea{
	font-family: 'Roboto Slab', serif;
	padding: 20px;
	font-size: 18px;
	background-color: #e4e8e9;
	color: #cfcfd1;
	border: none;
}

#contact input{
	width: 45%;
	margin: 0;
}

#contact textarea{
	width: 100%;
	margin-top: 27px;
	height: 250px;
	resize: none;
}

footer{
	position: relative;
	height: 240px;
	background-color: #e84c3d;
}
.social{
	width: 63%;
	position: absolute;
	bottom: 130px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
}

.social img{
	width: 88px;
	max-height: 88px; 
	border: 5px solid #e84c3d;
}



